@page "/mobile-parts"
@using Sipcon.WebApp.Client.Layout
@layout MobileLayout

<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudStack Row="true" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd">
                    <MudPaper Class="pa-2 mud-theme-info mud-typography-h6 d-flex justify-center align-center">REPUESTO</MudPaper>
                    <MudPaper Class="pa-2"><MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Close" Size="Size.Small" /></MudPaper>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudText>
                    <MudDataGrid @ref="PartsMudDataGrid" T="mPart" ServerData="ServerReload" Dense="false" Striped="true" Hover="true" Filterable="false" FixedHeader SelectedItemChanged="ClickSelectGuide" @bind-CurrentPage="GuideCurrentPage">
                        <Columns>
                            <PropertyColumn Property="x => x.PartDescription" Title="REPUESTO" />
                            <PropertyColumn Property="x => x.Quantity" Title="Cantidad" />                            
                        </Columns>
                        <PagerContent>
                            <MudStack Row="false" Spacing="2">
                                <MudPaper Class="pa-3">
                                    <MudTextField T="string" Placeholder="Buscar" Adornment="Adornment.Start" ValueChanged="@(s => OnSearch(s))" Value="searchString" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="height:40px;" />
                                </MudPaper>
                            </MudStack>                           
                        </PagerContent>
                    </MudDataGrid>
                </MudText>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>
@code {
    bool _loading = true;
    string searchString = "";
    private int GuideCurrentPage = 0;
    record mPart(string PartDescription, int Quantity);

    private MudDataGrid<mPart>? PartsMudDataGrid;
    private static readonly List<mPart> TestParts = new()
    {
        new mPart("Repuesto 1",25),
        new mPart("Reouesto 2",30),
        new mPart("Reouesto 3",45),
    };

    Func<mPart, object> GetSortKeySelector(string sortByPropertyName) => sortByPropertyName switch
    {
        nameof(mPart.PartDescription) => o => o.PartDescription ?? "",
        nameof(mPart.Quantity) => o => o.Quantity,
        _ => null!
    };

    private async Task<GridData<mPart>> ServerReload(GridState<mPart> state)
    {
        _loading = true;
        var totalItems = 0;
        var mOffset = state.Page * state.PageSize;
        IEnumerable<mPart> data = TestParts;
        await Task.CompletedTask;
        // Filter by search string
        if (!string.IsNullOrWhiteSpace(searchString))
        {
            data = data.Where(g => g.PartDescription.Contains(searchString, StringComparison.OrdinalIgnoreCase));
        }

        totalItems = data.Count();

        // Sorting
        if (state.SortDefinitions.FirstOrDefault() is SortDefinition<mPart> sortDefinition)
        {
            data = data.OrderByDirection(sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending, GetSortKeySelector(sortDefinition.SortBy));
        }

        // Paging
        data = data.Skip(mOffset).Take(state.PageSize);

        _loading = false;
        return new GridData<mPart> { TotalItems = totalItems, Items = data };

    }

    private async Task ClickRefreshGuides(MouseEventArgs ev)
    {
        await PartsMudDataGrid!.ReloadServerData();
    }
    private async Task OnSearch(string text)
    {
        if (text.Length == 0 || text.Length >= 3)
        {
            _loading = true;
            searchString = text;
            await PartsMudDataGrid!.ReloadServerData();
        }
    }
    private async Task ClickSelectGuide(mPart item)
    {
        await Task.CompletedTask;
    }
    private async Task ClickRemovePart(mPart item)
    {
        await Task.CompletedTask;
    }
}