@page "/process-list"
@using Sipcon.WebApp.Client.Layout
@layout MobileLayout

<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudStack Justify="Justify.Center" Row="false" Spacing="3">
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.AddBusiness" Href="mobile-reception">Recepcion</MudButton>
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.MoveDown" Href="mobile-transfer">Traslado</MudButton>
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.ShoppingCartCheckout" Href="mobile-collection">Recoleccion</MudButton>
            <MudButton Class="pa-2 mud-text-align-center" Variant="Variant.Filled" Color="Color.Info" EndIcon="@Icons.Material.Filled.Adjust" Href="mobile-customers">Despacho</MudButton>
        </MudStack>
    </MudPaper>
</div>