<div>
    <MudForm @ref="form">
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="jpv1-dialog-background-title pa-3" Square="true">
                    <MudPaper Elevation="2" Class="pa-2 mud-text-align-center">
                        <MudStack Row="true" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd">
                            <MudStack Row="true">
                                <MudText Typo="Typo.h6" Color="Color.Info">Asignar</MudText>
                            </MudStack>
                            <MudStack Row="true" Spacing="2">
                                <MudButton OnClick="CancelClick">Cancelar</MudButton>
                                <MudFab StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" OnClick="SaveClick" Size="Size.Small" Label="Aceptar"></MudFab>
                            </MudStack>
                        </MudStack>
                    </MudPaper>
                </MudPaper>
            </MudItem>
            <MudItem xs="12">
                <MudPaper Elevation="2" Class="pa-3 jpv1-dialog-body-background" Square="true">
                    <MudPaper Elevation="2" Class="pa-3 mud-text-align-center">
                        <MudStack Row="false">
                            <MudText Typo="Typo.h6" GutterBottom="true">Usuarios</MudText>                            
                            <MudSelect T="Contact" Label="Usario" ToStringFunc="@ConvertContactFunc" Required="true" ValueChanged="OnContactValueChanged" RequiredError="Campo requerido" Value="ContactSelected">
                                @foreach (var contact in Contacts!)
                                {
                                    <MudSelectItem Value="contact" />
                                }
                            </MudSelect>
                        </MudStack>
                    </MudPaper>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudForm>
</div>

@code {
    [Inject] private HttpClient Http { get; set; } = default!;
    [Inject] private IDialogService DialogService { get; set; } = default!;
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; } = default!;
    private MudForm? form;
    private Contact? ContactSelected;
    private Func<Contact?, string> ConvertContactFunc = contact => contact?.FirstName + " " + contact?.LastName!;

    private List<Contact>? Contacts = default;
    private void CancelClick(MouseEventArgs args)
    {
        throw new NotImplementedException();
    }
    private void SaveClick(MouseEventArgs args)
    {
        throw new NotImplementedException();
    }
    private void OnContactValueChanged(Contact selectedContact)
    {
        ContactSelected = selectedContact;
    }
}
