@page "/Model"

@using Sipcon.WebApp.Client.Models
@using Sipcon.WebApp.Client.Services
@using MudBlazor

@inject IModelService ModelService


<h3>Crear Modelo</h3>

<EditForm Model="newModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Nombre:</label>
        <InputText @bind-Value="newModel.Name" />
    </div>
    <div>
        <label>Descripción:</label>
        <InputText @bind-Value="newModel.Description" />
    </div>
    <button type="submit">Crear</button>
</EditForm>

@if (errorMessage != null)
{
    <p class="text-danger">@errorMessage</p>
}

@code {
    private Model newModel = new Model();
    private string errorMessage = string.Empty;
    private int idusuario = 1; // Cambia esto por el ID del usuario que estás utilizando

    private async Task HandleValidSubmit()
    {
        try
        {
            var createdModel = await ModelService.CreateModel(newModel, idusuario);
            Console.WriteLine($"Modelo creado con éxito:");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
