<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Error Pagina no encontrada</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p role="alert">Lo sentimos, por favor contacte al administrador</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

