<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7decfc9d-c91b-480f-b6e5-84e721b71873</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>10.23.212.20</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site\sipconappdev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>grupora\wcamacho</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
	<DebugType>none</DebugType>
	<DebugSymbols>false</DebugSymbols>
	<EnableHotReload>false</EnableHotReload>
	<DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>