.jpv1-uniform-spacing {
    margin-top: -8px;
}
.jpv1-dialog-background {
    background-color: #c4c4c4;
}
.jpv1-dialog-body-background {
    background-color: #f0f0f0;
}
.jpv1-dialog-background-title {
    background: rgb(108, 156, 195);
}
.uppercase-mud-textfield input.mud-input-slot {
    text-transform: uppercase;
}

input.mud-input-slot {
    text-transform: uppercase;
}
.mud-input-control.mud-input-required > .mud-input-control-input-container > .mud-input-label::after {
    content: none;
}