.jpv1-uniform-spacing {
    margin-top: -8px;
}
.jpv1-dialog-background {
    background-color: #c4c4c4;
}
.jpv1-dialog-body-background {
    background-color: #f0f0f0;
}
.jpv1-dialog-background-title {
    background: rgb(108, 156, 195);
}